{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href=" {% static 'css/home.css' %} ">
{% endblock %}

{% block content %}


    <section class="features-icons bg-light text-center">
        <div class="container-fluid">
            <div class="row">
                <form method="post">{% csrf_token %}


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Note Title</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default"
                               aria-describedby="inputGroup-sizing-default" required name="title" value="{{ note.title }}">
                    </div>

                    <div class="form-group">

                        <textarea id="summernote" name="editordata" >{{ note.body }}</textarea>


                    </div>

                    <div class="form-group-prepend">
                        <span id="basic-addon3">Tags</span>
                        <select name="tags" class="selectpicker" multiple data-live-search="true">

                            {% for tag in tags %}
                                <option value="{{ tag.id }}"  {% if tag.id in selected_tag_list %}selected{% endif %}>{{ tag.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if user.is_authenticated %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="">Save Note</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
    <br>



    {% block extra_js %}

        <script>
        {#$('select').selectpicker();#}

            $.ajax({
                url: 'https://api.github.com/emojis',
                async: false
            }).then(function (data) {
                window.emojis = Object.keys(data);
                window.emojiUrls = data;
            });
            ;

            $(".summernote").summernote({
                height: 100,
                toolbar: false,
                placeholder: 'type starting with : and any alphabet',
                hint: {
                    match: /:([\-+\w]+)$/,
                    search: function (keyword, callback) {
                        callback($.grep(emojis, function (item) {
                            return item.indexOf(keyword) === 0;
                        }));
                    },
                    template: function (item) {
                        var content = emojiUrls[item];
                        return '<img src="' + content + '" width="20" /> :' + item + ':';
                    },
                    content: function (item) {
                        var url = emojiUrls[item];
                        if (url) {
                            return $('<img />').attr('src', url).css('width', 20)[0];
                        }
                        return '';
                    }
                }
            });


            $('#summernote').summernote({
                placeholder: 'Hello Bootstrap 4',
                tabsize: 2,
                height: 100,

                hint: {
                    match: /:([\-+\w]+)$/,
                    search: function (keyword, callback) {
                        callback($.grep(emojis, function (item) {
                            return item.indexOf(keyword) === 0;
                        }));
                    },
                    template: function (item) {
                        var content = emojiUrls[item];
                        return '<img src="' + content + '" width="20" /> :' + item + ':';
                    },
                    content: function (item) {
                        var url = emojiUrls[item];
                        if (url) {
                            return $('<img />').attr('src', url).css('width', 20)[0];
                        }
                        return '';
                    }
                }

            });


        </script>


    {% endblock %}


{% endblock %}





