{% extends "base/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/login.css' %} ">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <section>

                    <hgroup>
                        <h2>Welcome back!</h2>
                        <p>Please enter your details to sign into your account</p>
                    </hgroup>

                    <form method="post" class="log-form">{% csrf_token %}

                        <div class="group log-input">
                            {{ form.as_p }}
                        </div>

{#                        <div class="group log-input">#}
{#                            {{ form.password.label_tag }}#}
{#                            {{ form.password }}#}
{#                        </div>#}

                        <span class="check left-align">
                          <input type="checkbox">
                          <label>Remember Me</label>
                      </span>

                        <a class="right-align" href="#">Forgot Password</a>

                        <br><br>

                        <div class="container-log-btn">
                            <button type="submit" name="btn_submit" class="log-form-btn">
                                <span>Login</span>
                            </button>
                        </div>

                    </form>


                </section>


            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}



{% endblock %}